.nav-main__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  transition: opacity .4s linear;
}

.nav-main__btn:hover {
  cursor: pointer;
  opacity: .6;
}

.nav-main__btn-registration {
  background-color: transparent;
  padding: 0;
  color: #FFFFFF;
}

.nav-main__btn-login {
  background-color: #3DDC84;
  border-radius: 3px;
  margin: 21px 0;
  width: 76px;
  height: 31px;
  margin-left: 30px;
}


@media screen and (max-width: 400px) {

  .nav-main__btn {
    font-size: 10px;
  }

  .nav-main__btn-login {
    width: 54px;
    height: 26px;
    margin: 24px 0;
  }

  .nav-main__btn-registration {
    margin-right: 13px;
  }

}