.page {
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.page__content {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}