.nav-account {
  position: absolute;
  margin-left: 65px;
}

.nav-account__container {
  display: flex;
  justify-content: space-between;
}

.nav-account__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity .4s linear;
  margin-left: 16px;
}

.nav-account__link:hover {
  cursor: pointer;
  opacity: .6;
}

.account-button {
  width: 100px;
  height: 32px;
  background-color: #313131;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  transition: opacity .4s linear;
  padding: 0;
}

.account-button:hover {
  cursor: pointer;
  opacity: .6;
}

.account-button__burger {
  display: none;
  background-image: url('../../../images/icon-nav.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  transition: opacity .4s linear;
  border: none;
  padding: 0;
}

.account-button__burger:hover {
  cursor: pointer;
  opacity: .6;
}


@media screen and (max-width: 768px) {
  .nav-account {
    display: none;
  }

  .account-button__burger {
    display: flex;
    width: 41px;
    height: 43px;
  }

  .account-button {
    display: none;
  }
}